html, body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    word-wrap: break-word; 
    max-width: 100%;
}
p{
    font-size: 1rem;
    word-wrap: break-word; 
    max-width: 100%;
}
#home{
    min-height: 80vh;
}
#blog{
    min-height: 90vh;
}
#painel{
    min-height: 50vh;
}
#login{
    min-height: 70vh;
}
td{
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    -ms-word-break: break-all; 
    word-break: break-word; 
    max-width: 100%;
}

.custom-file-label {
    border: none;
    background-color: transparent;
    padding: 0;
  }
#footer{
    background-color: #000;  
    bottom: 0;
}
#redes{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes li a{
    font-size: 2em;
    color: #FFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
#redes li a:hover{
    transform: translateY(-10px);
}
#redes li{
    list-style: none;
}
