html, body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1rem;
}
#home{
    min-height: 80vh;
}
#blog{
    min-height: 90vh;
}
#login{
    min-height: 70vh;
}

tr td{
    table-layout:fixed;
    white-space: pre-wrap;
}
#footer{
    background-color: #000;  
    bottom: 0;
}
#redes{
    margin: 10px 0;
    flex-wrap: wrap;
    padding-inline-start: 0px !important;
}
#redes li a{
    font-size: 2em;
    color: #FFF;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
#redes li a:hover{
    transform: translateY(-10px);
}
#redes li{
    list-style: none;
}
